/* --------------------------------------- */
/*  Macro Sheet                            */
/* --------------------------------------- */
.macro-sheet {
    min-width: 360px;
    min-height: 320px;
  }
  .macro-sheet form > * {
    flex: 0;
  }
  .macro-sheet .form-group.command {
    flex: 1;
  }
  .macro-sheet .form-group.command label {
    height: 24px;
  }
  .macro-sheet .form-group.command textarea {
    height: calc(100% - 24px);
    resize: none;
  }